html, body{
	width: 100%;
	height: 100%;
	margin: 0px;
}

body{
	background-color: #EBEBEB; 
	font-size: 14px;
	overflow: hidden;
}

header{ 
	position: absolute;
	top: 0px;
	right: 0;
	left: 0;
	height: 100px;
	z-index: 1;

	background-color: #EBEBEB;
	color: black;
	text-align: right;	
}
.contain{
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	bottom: 0;

}
nav{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	z-index: 1;
	background-color: #EBEBEB;
	color: black;
	height: 100%;
	width: 200px;
	float: left;
}
section{
	position: absolute;
	left: 200px;
	right: 0;
	top: 0;
	background-color: #E0E0E0;
	color: black;
	float: left;
}
footer{ /* 일정한 위치에 있다가 표에 내용이 많아지면 밑으로 내려감 : 구현하는 방법?! */
	width: 100%;
	background-color: #EBEBEB;
	color: black;
	text-align: center;
	vertical-align: top;
	height: 20px;
	padding: 5px;
}


.top1{
	position: absolute;
	top: 0;
	height: 55px;
	left: 0;
	right: 0;
	border-bottom: 1px solid #B0B0B0;
	text-align: left
}

.top2{
	position: absolute;
	top: 60px;
	bottom: 0px;
	left: 0;
	right: 0;
	border-bottom: 1px solid #B0B0B0;
}


#t02{
	width: 100%;
	border-collapse: collapse;
}

#t02 tr{
	border-bottom: 1px solid #B0B0B0;
	border-left: 1px solid #B0B0B0;
	border-collapse: collapse;
}

#t02 td{
	height: 30px;
	padding: 5px;
}


a:link {color:#000000; background-color: transparent; text-decoration: none} 
a:visited {color:#000000; background-color: transparent; text-decoration: none} 
a:hover {color:#000000; background-color: transparent; text-decoration: none} 
a:active {color:#FF5050; background-color: transparent; text-decoration: none} 


ul#menu{
	list-style-type: none;
	margin-left: 30px;
	margin-right: 10px;
	margin-top: 10px;
	padding: 0px;
	vertical-align: middle; /* 다시 도전! */
}

a.menuu{
	display: block;
	width: 160px;
	height: 30px;
	margin-top: 10px;

}

a.menuu:hover{
	background-color: white;
}

