@font-face{
	font-family: 'NanumBarunGothic';
	src: url(font/NanumBarunGothic.ttf) format('truetype');
}

body{
	font-family: NanumBarunGothic
}

.background {
	position: absolute;
	top: 70px;
	left: 0px;
	right: 0px;
	bottom: 0px;

	background-color: #fdf6ee; 
}

.title {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	padding: 5px 20px;
	font-size: 60px;
	background-color: #fdf6ee; 
	color: #292929;
}

.category {
	position: absolute;
	width: 600px;
	height: 390px;
	border: none;
	font-size: 20px;
	padding: 8px;
	color: #333333;
	border-radius: 10px;
	overflow: auto;
}

.addCate {
	position: absolute;
	right: 30px;
	top: 20px;
	width: 440px;
	height: 40px;
	float: left;
}

.addCate.text {
	position: absolute;
	left: 0px;
	top: 10px;
	height: 30px;
	font-size: 20px;
	color: #292929;
	float: left;
	margin: 0px;
}

.addCate.name {
	position: absolute;
	left: 120px;
	top: 5px;
	width: 150px;
	height: 27px;
	float: left;
	font-size: 15px;
	font-family: NanumBarunGothic;
	box-shadow: 0 0 5px #DDD inset;
	border: 1px solid #DDD;
	transition: all 0.5s ease-out;
	outline: none;
}

.addCate.name:focus {
	outline: none;
	border: 1px solid #5ec5fe;
	box-shadow: 0 0 5px #5ec5fe;
}

.addCate.color {
	position: absolute;
	left: 285px;
	top: 5px;
	width: 100px;
	height: 27px;
	float: left;
	font-size: 15px;
	font-family: NanumBarunGothic;
	box-shadow: 0 0 5px #DDD inset;
	border: 1px solid #DDD;
	transition: all 0.5s ease-out;
	outline: none;
}

.addCate.color:focus {
	outline: none;
	border: 1px solid #5ec5fe;
	box-shadow: 0 0 5px #5ec5fe;
}

.addCate.button{
	position: absolute;
	right: 5px;
	top: 3px;
	width: 35px;
	height: 35px;
	background-color: #fdf6ee; 
	border: none;
}

.addCate.img{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 35px;
	height: 35px;
}

.memo{
	position: absolute;
	background-color: #fdfdee;
	width: 270px;
	height: 340px;
	border-radius: 10px;
}

.input_title{
	margin: 10px;
	width: 245px;
	border: none;
	background-color:  #fdfdee;
	outline: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	font-family: NanumBarunGothic;
}

.input_title:focus{
	outline: none;
	background-color: white; 
	border: 1px solid #c0a183;
	box-shadow: 0 0 5px #c0a183 inset;
}

.textarea_content{
	margin: 0px 10px;
	width: 245px;
	height: 280px;
	border: none;
	background-color:  #fdfdee;
	outline: none;
	border-radius: 5px;
	font-size: 12px;
	font-family: NanumBarunGothic;
	word-break: break-all;
}

.textarea_content:focus{
	outline: none;
	background-color: white; 
	border: 1px solid #c0a183;
	box-shadow: 0 0 5px #c0a183 inset;
}

.addMemo{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	background: url(image/write.png) no-repeat;
	background-size: 20px;
}