<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title> Library System </title>
	<link rel="stylesheet" type="text/css" href="style.css"> 
</head>

<body>
	<div class="header"><a href="http://localhost:2222"> LIBRARY </a></div>
	<div class="bookinform">
		<p>대출/반납 기록</p>
		<table class="book">
			<tr>
				<th>ID</th>
				<th>제목</th>
				<th>저자</th>
				<th>출판사</th>
			</tr>
			<tr>				
				<td><%= book.bid %></td>
				<td><%= book.title %></td>
				<td><%= book.name %></td>
				<td><%= book.publisher %></td>
			</tr>
		</table>
		
	</div>
	<div class="record">

		<table class="recordList">
			<tr>
				<th>Record ID</th>
				<th>빌린 사람</th>
				<th>대출 시각</th>
				<th>반납 시각</th>
			</tr>
			<% record.forEach(function (item, index) { %>
			<tr>				
				<td><%= item.rid %></td>
				<td><%= item.personName %></td>
				<td><%= item.timeLend %></td>
				<td><%= item.timeReturn %></td>
			</tr>
			<% }); %>
		</table>

		<div class="buttons">
			<form action="/lend" method="GET">
				<table class="button table">
					<tr>
						<td><button type="sumbit" class="lend button">대출 하기</button></td>
						<td> 이름 :</td>
						<td><input type="text" name="name" value="대출하는 사람"/></td>
					</tr>
				</table>
				<input type="hidden" name="id" value=<%=book.bid%>/>
			</form>
			<form action="/return" method="GET">
				<table class="button table">
					<tr>
						<td><button type="sumbit" class="return button">반납 하기</button></td>
						<td> 이름 :</td>
						<td><input type="text" name="name" value="반납하는 사람"/></td>
					</tr>
				</table>
				<input type="hidden" name="id" value=<%=book.bid%>/>
			</form>
		</div>
	</div>
</body>


</html>