.menu{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 100px;
	background-color: #f3f3f3;
}

.menu>button{
	position: absolute;
	top: 25px;
	left: 80px;
	width: 100px;
	height: 50px;
	background-color: #e52b50;
	border: none;
	border-radius: 7px;
	color: white;
	font-size: 20px;	
	font-weight: bold;
}

.menu>button+button{
	left: 260px;
}

.menu>button+button+button{
	left: 440px;
}

.filelist{
	position: absolute;
	top: 100px;
	left: 0px;
	bottom: 0px;
	width: 225px;
	background-color: #e4e4e4;
}

.filelist>ul{
	position: absolute;
	top: 0px;
	list-style-type: circle;
	font-size: 14px;
}

.filelist>ul>li{
	margin: 15px;
}

.tabmemo{
	position: absolute;
	top: 100px;
	left: 225px;
	right: 0px;
	bottom: 0px;
	background-color: #f9f9f9;
}

.tabtitle{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 80px;
}

.tabcontent{
	position: absolute;
	top: 40px;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

.title{
	border: 1px solid #ffbf00;
	border-radius: 10px 10px 0px 0px;
	width: 150px;
	cursor: pointer;
	float: left;
	height: 40px;
}

.content{
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
	border: 1px solid #ffbf00;

}



