.menu{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 100px;
	background-color: #f3f3f3;
}

.logo{
	position: absolute;
	top: 22px;
	left: 18px;
	width: 200px;
}

.menu>button{
	position: absolute;
	top: 25px;
	left: 280px;
	width: 100px;
	height: 50px;
	background-color: #e52b50;
	border: none;
	border-radius: 7px;
	color: white;
	font-size: 20px;	
	font-weight: bold;
}

.menu>button+button{
	left: 440px;
}


.filelist{
	position: absolute;
	top: 100px;
	left: 0px;
	bottom: 0px;
	width: 225px;
	background-color: #e4e4e4;
}

.filelist>ul{
	position: absolute;
	top: 0px;
	list-style-type: circle;
	font-size: 14px;
}

.filename{
	margin: 15px;
}

.tabmemo{
	position: absolute;
	top: 100px;
	left: 225px;
	right: 0px;
	bottom: 0px;
	background-color: #f9f9f9;
}

.tabtitle{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 40px;
	padding: 10px;
}

.tabcontent{
	position: absolute;
	top: 42px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 0px 10px;
}

.title{
	border: 1px solid #2bade5;
	border-radius: 10px 10px 0px 0px;
	width: 150px;
	cursor: pointer;
	float: left;
	height: 35px;
	padding: 1px 5px;
	transition: all 0.5s ease-out;
	box-shadow: 0 0 3px #c0a183 inset;
}

.title:focus{
	outline: none;
	background-color: #1ba5e1;
	box-shadow: none;
	color: white;
	font-style: bold;
	box-shadow: 0 0 10px #c0a183 inset;
}

.title.clicked{
	border: 1px solid #2bade5;
	border-radius: 10px 10px 0px 0px;
	width: 150px;
	cursor: pointer;
	float: left;
	height: 35px;
	padding: 1px 5px;
	transition: all 0.5s ease-out;
	
	outline: none;
	background-color: #1ba5e1;
	color: white;
	font-style: bold;
	box-shadow: 0 0 3px #c0a183 inset;
}

.content{
	position: absolute;
	top: 0px;
	width: 95%;
	bottom: 10px;
	left: 10px;
	border: 1px solid #2bade5;
	padding: 10px;	
	transition: all 0.5s ease-out;
	box-shadow: 0 0 3px #c0a183 inset;
	word-break: break-all;
}

.content:focus{
	outline: none;
	border: 1px solid #1ba5e1;
	background-color: #ebf7fd;
	font-style: bold;
	box-shadow: 0 0 10px #c0a183 inset;
}


